<header class="page-header">
<h1>About Us</h1>
</header>

<div>
<article>
A glorious store that sells plants, and nothing but plants. 
Jungle will meet all your jungle needs
Dont eat the plants and everything will be allllllll righhhhhhttttt

</article>
</div>